             <div class="card">
                            <div class="header">
                                <h4 class="title">Allocations</h4>
                            </div>
                            <div class="content">
                                <form action="/allocate" method="post">
                                    <div class="row">
                                          <div class="col-md-9">
                                            <div class="form-group">
                                                <label>Roll Number </label>
                                                <input type="text" class="form-control" id="key" name="ROLL_NUMBER" placeholder="Roll Number" >
                                            </div>
                                        </div>
                                             <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Bus Number </label>
                                                <input type="text" class="form-control"  name="ID"  placeholder="Bus Number" >
                                            </div>
                                        </div>
                                
                                   
                                   
                                  
                                  
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Allocate</button>
                                    <div class="clearfix"></div>
                                </form>
                                        <center>  <button id="options" class="btn btn-danger">Get Details and Options</button><center>

                            </div>

                        </div>

                        <hr>
                         <div class="card">
    <div class="col-lg-4 card content table-responsive table-full-width">
                                <table id="buses" class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                        <th>Count</th>
                                        <th>STOPS</th>
                                    </thead>
                                    <tbody>
                     
                                    </tbody>
                                </table>

                            </div>
                                <div class="col-lg-8 card content table-responsive table-full-width">
                                <table id="details" class="table table-hover table-striped">
                                    <thead>
                                         <th>NAME </th>
                                        <th>ROLL_NUMBER</th>
                                        <th>HOME_TOWN</th>
                                        <th>PASSING_YEAR</th>
                                        <th>COLLEGE</th>
                                        <th>GROUP</th>
                                    </thead>
                                    <tbody>
                     
                                    </tbody>
                                </table>

                            </div>
                            </div>
                        <hr>
                                               
            
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" id="key2" name="key" placeholder="Search for Either Bus Number or Your Destination...">
      <span class="input-group-btn">
        <button class="btn btn-default" id="search" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->


<hr><hr>
            
<div class="card">
                            <div class="header">

                                <center><h4 class="title"> Bus Students </h4></center>
                    
                            </div>
                         
                            <div class="content table-responsive table-full-width">
                                <table id="myTable" class="table table-hover table-striped">
                                    <thead>
                                        <th>NAME </th>
                                        <th>ROLL_NUMBER</th>
                                        <th>HOME_TOWN</th>
                                        <th>PASSING_YEAR</th>
                                        <th>COLLEGE</th>
                                        <th>GROUP</th>
                                
                                    </thead>
                                    <tbody>
                              
                                    </tbody>
                                </table>

                            </div>
                            </div>