             <div class="card">
                            <div class="header">
                                <h4 class="title">Update Bus Details</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Bus Number </label>
                                                <input type="text" class="form-control" disabled placeholder="Bus Number" value="313">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Driver Name</label>
                                                <input type="text" class="form-control" placeholder="Username" value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Contact Number</label>
                                                <input type="contact" class="form-control" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>

           


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Morning starting Time</label>
                                                <input type="time" class="form-control" placeholder="time" >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Evening Start Time </label>
                                                <input type="time" class="form-control" placeholder="time" >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Destination</label>
                                                <input type="text" class="form-control" placeholder="Destination">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Stops </label>
                                                <textarea rows="5" class="form-control" placeholder="Here stops must be seprated with ',' only " value="Mike">kakinada st</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Bus Details</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>