                      <div class="card">
                            <div class="header">
                                <h4 class="title">Upload Bus Details</h4>
                            </div>
                            <div class="content">
                                <form action="/uploadxlsx" method="post" enctype="multipart/form-data">
                               

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label> File Need to be excel</label>
                                                <input type="file" class="form-control" name="file" placeholder="file" >
                                            </div>
                                        </div>
                                
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Upload  Details</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>